.navbar {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    61deg,
    rgba(255, 255, 255, 1) 85%,
    rgba(238, 238, 249, 1) 85%,
    rgba(14, 98, 157, 1) 85%
  );
}
.top-nav {
  background: rgb(14, 98, 157);
  background: linear-gradient(
    114deg,
    rgba(14, 98, 157, 1) 50%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 51%
  );
}
.font-karla {
  font-family: "Karla", sans-serif;
}
.marginauto {
  margin-left: auto;
}
@media only screen and (max-width: 845px) {
  .navbar-hidden {
    display: none;
  }
}
@media only screen and (min-width: 846px) {
  .hamburger {
    display: none;
  }
}

top-header{
  box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
  contain: size layout style;
  padding: 0 20px;
  height: 80px;
}
.locationModal {
    position: fixed;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: 1;
}
.icon-close {
  cursor: pointer;
}
.layover {
  background-color: rgba(0,0,0,.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
}
.item-card .inner-card {
margin: 0 auto;
}